*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
}

h1{
    margin-left: 0.5em;
}

header h2{
    color: white;
    margin-left: 1em;
    font-size: 14px;
}

p{
    font-size: 14px;
}

header{
    background-color: rgb(5, 116, 92);  
    padding: 2rem;
    height: 70rem;
}

header nav{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

main{
   margin-top: 2em ;
   margin-left: 2em;
}

.form{
    display: flex;
    justify-content: space-between;
    max-width: 80rem;
}

.relatorios{
    display: flex;
    flex-wrap: wrap;
    max-width: 60rem;
    gap: 2em;
    margin-top: 1em;
}

.relatorios h2{
    flex-basis: 100%;

}

.relatorios section{
    background-color: white;
    width: 10em;
    height: 11em;
    text-align: center;
    border: 1px solid gray;
}

.relatorios h3{
    background-color: gainsboro;
    height: 6em;
    padding: 1em;
}

.relatorios figure{
    padding: 1em;
}

.relatorios img{
    padding: 4px;
}



