*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 22px;
}

header{
    margin-top: 0.5em;
}

nav ul{
    display: flex;
    justify-content: center;
    gap: 1em;
    list-style-type: none;
}

ul li{
    padding: 1.2em;
    background-color: rgb(30, 172, 172);
}

ul li a {
    color: white;
}

.menu{
    position: relative;
}

.submenu{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: absolute;
    visibility: hidden;
}


.menu:hover{
    .submenu{
        visibility: visible;
    }
}


